<form name="myForm" autocomplete="off" data-ng-init="vm.ListarReceita()">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1>Cadastro da Receita</h1>
    <hr>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="nome">Nome da Receita</label>
    <input type="text" name="nome" id="nome" data-ng-model="vm.receita.nome" class="form-control">
  </div>

  

  <div data-ng-show="vm.receita._id">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h3>Ingredientes</h3>
      <hr>
      </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-ng-repeat="ax in vm.receita.ingredientes">
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <label for="ingredientes.nome">Nome do Ingrediente</label>
        <input type="text" name="ingredientes.nome" id="ingredientes.nome" data-ng-model="ax.nome" class="form-control">
      </div>
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <label for="ingredientes.quantidade">Quantidade</label>
        <input type="text" name="ingredientes.quantidade" id="ingredientes.quantidade" data-ng-model="ax.quantidade" class="form-control">
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <label for="">&nbsp;</label>
        <button class='btn btn-warning' data-ng-click="vm.RemoverIngrediente(ax)">Remover Ingrediente</button>
      </div>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <label>Nome do Ingrediente</label>
        <input type="text" data-ng-model="vm.ingrediente.nome" class="form-control">
      </div>
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <label>Quantidade</label>
        <input type="text" data-ng-model="vm.ingrediente.quantidade" class="form-control">
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <label for="">&nbsp;</label>
        <button class='btn btn-success' data-ng-click="vm.AdicionarIngrediente()" data-ng-disabled="!vm.ingrediente.nome.length > 0 && !vm.ingrediente.quantidade.length">Adicionar Ingrediente</button>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h3>Modo de Preparo</h3>
      <hr>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label for="modo_de_preparo">Modo de Preparo</label>
      <textarea name="modo_de_preparo" id="modo_de_preparo" cols="30" rows="10" data-ng-model="vm.receita.modo_de_preparo" class="form-control">

      </textarea>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <hr>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <button type="button" class="btn btn-primary btn-block" data-ng-click="vm.Gravar()">Gravar</button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <a href="#!/receita" class="btn btn-primary btn-block">Voltar</a>
    </div>
  </div>

</form>