<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div data-ng-init="vm.ListarReceita()">
    <h1>{{vm.receita.nome}}</h1>
    <p><a href="javascript:(window.print())">Imprimir Receita</a></p>
    <p>Data de Cadastro {{vm.receita.data_cadastro | date: 'dd/MM/yyyy'}} - <a href="#!/receita/gravar/{{vm.receita._id}}">Alterar Receita</a></p>
    <hr>
    <h2>Ingredientes</h2>
    <ul data-ng-repeat="ax in vm.receita.ingredientes">
      <li>{{ax.quantidade}} - {{ax.nome}}</li>
    </ul>
    <hr>
    <h2>Modo de Preparo</h2>
    <pre style="white-space: pre-line;">{{vm.receita.modo_de_preparo}}</pre>
  </div>
</div>